@import "~antd/dist/antd.css";
@import "~react-credit-cards/es/styles-compiled.css";

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#root {
  height: 100%;
}
.App-link {
  color: #61dafb;
}

.disabled-click {
  cursor: not-allowed !important;
}

.disabled-click i {
  pointer-events: none !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* customer-form */

#customer-form input {
  width: 100%;
  height: 2.5rem;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  padding: 1.2rem;
  border: 0;
  font-family: inherit;
  padding: 12px 0;
  font-size: 12px;
  font-weight: 500;
  border-bottom: 2px solid #c8ccd4;
  border-radius: 0;
  color: #223254;
  transition: all 0.15s ease;
}

#customer-form input:focus {
  outline: none;
}

#customer-form input::placeholder {
  color: #4848486e;
}

#confirm-button {
  position: absolute;
  bottom: -40px;
  right: 20px;
  height: 40px;
  padding: 0 15px;
  font-size: 16px;
  border-radius: 4px;
  background-color: #1890ff;
  border-color: 1890ff;
  color: white;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#confirm-button:hover {
  background-color: #40a9ff;
  border-color: #40a9ff;
}

.disabled {
  pointer-events: none !important;
  background-color: grey !important;
}

.disabled:hover {
  background-color: grey !important;
  border-color: grey !important;
}
